<div class="task-item">
  <div class="task-item__top">
    <mat-chip-set>
      <mat-chip>{{type}}</mat-chip>
      <mat-chip>{{priority}}</mat-chip>
    </mat-chip-set>

    <span class="task-item__date">
      {{updateDate}}
    </span>
  </div>

  <div class="task-item__content">
    <a [href]="url">
      <h3 class="task-item__title mat-title-small">
        {{title}}
      </h3>
    </a>

    <button mat-icon-button (click)="onClick()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
