.task-item {
  padding: 8px 0;
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &__date {
    font-size: 12px;
    line-height: 20px;
  }
}
